@tailwind base;
@tailwind components;
@tailwind utilities;

#cesiumContainer {
  width: 100%;
  height: 50% !important;
  background-color: rgb(156, 197, 220);
  z-index: 100;
}

.cesium-infoBox {
  max-width: 200px;
}
